<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="/css/style.css">
		<link rel="icon" href="/images/weather.png">
    </head>
    <body>
   <div class="site-content">
            
			<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">The Sky</h1>
							<small class="site-description">{{message}}</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="/">Weather</a></li>
							<li class="menu-item"><a href="/news">News</a></li>
							<li class="menu-item"><a href="/about">About</a></li>
							<li class="menu-item"><a href="/contact">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="/">Home</a>
						<span>{{title}}</span>
					</div>
				</div>
                 
                </main>
                	<div class="hero" data-bg-image="images/404.png"></div>
             
          
       <p>{{>footer}}</p>

       <script src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
   
    </body>
</html>