
{{!-- <header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
  
</header>
   <h4>{{message}}</h4> --}}
   
<!-- Default snippet for navigation -->
   <header>
			<div class="site-header">
				<div class="container">
					<a href="/" class="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">The Sky</h1>
							<small class="site-description">{{message}}</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Weather</a></li>
							<li class="menu-item"><a href="/news">News</a></li>
							<li class="menu-item"><a href="/about">About</a></li>
							<li class="menu-item"><a href="/contact">Contact</a></li>
						</ul> <!-- .menu -->
			
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->	
        </header>